{% extends 'company/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Company</h1>
        </div>
    </div><!--/.row-->


    <a href="{% url 'home' %}"><span class="btn btn-default">Main Page</span></a>
    {% if user.is_superuser %}
<a class="btn btn-default" href="{% url 'company_list' %}">Company List</a>
    {% endif %}
    <br><br>

<div class="form-edit">
    <h1></h1>
    <form method="POST" class="company-form">
        {% csrf_token %}
        {% for field in form %}
        <fieldset class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field.errors }}
            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}">
        </fieldset>
        {% endfor %}
        <button type="submit" class="save btn btn-primary">Save</button>
        <a class="btn btn-inverse" href="{% url 'company_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
